p {
  text-align: center;
  color: red;
}
#header{
  color: green;
}
.about {
text-align: center;
  color: blue;
}
.left {
  text-align: left;
}
.green {
  color: green;
}
.attention {
  font-weight: bold;
}
